@{
  ViewBag.BodyClass = "AboutUs";
  ViewBag.Title = "公司簡介";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li class="s"><a href="~/Index">HOME</a></li>
        <li>@ViewBag.Title</li>
    </ul>
}

<h2>@ViewBag.Title<span>ABOUT US</span></h2>

<figure class="float-l">
    <img src="~/Content/images/AboutUs/pic1.jpg" alt="">
</figure>

<p><strong>「圓容興業股份有限公司」</strong>成立於民國八十一年、專精於<strong>鋼筋續接器</strong>工程之施工團隊；施工前規劃、施工中管理、施工後自主檢查；施工過程中確實派專人於現場管理；其施工品質、速度、配合度均優於其他廠商，為提高加工品質於民國九十九年二月在桃園市觀音區富源里新富路1330號設立<strong>「佑展國際有限公司」</strong>鋼筋滾牙加工廠，並通過台北市捷運局鋼筋續接器廠商評鑑合格開始供應捷運標續接器。</p>

<p class="clear">自八十二年起本公司承攬、公共程與建築工程迄今配合完成及尚在施工的重大工程有：</p>
<ul class="text-list grid">
    <li>國立通大圖書資訊大樓</li>
    <li>台北捷運系統<br>CP261標龍山寺車站</li>
    <li>大陸工程<br>總部大樓</li>
    <li>台灣高鐵S250<br>台中車站停車場</li>
    <li>大陸工程<br>內湖購物中心</li>
    <li>廣輝電子<br>龍潭TFT III廠區</li>
    <li>台灣工業銀行總部大樓</li>
    <li>第一銀行商住大樓</li>
    <li>權世界住宅大樓</li>
    <li>安峰住宅大樓</li>
    <li>世界花園橋峰大樓</li>
    <li>海鈉川住宅大樓</li>
    <li>肯仲住宅大樓</li>
    <li>阿曼TIT住宅大樓</li>
    <li>陽明高中</li>
    <li>台北美國學校</li>
    <li>台北市國際花卉展示中心</li>
    <li>台北捷運系統<br>新莊線CK570J標</li>
    <li>台北捷運系統<br>信義線CR580A標</li>
</ul>