@{
  ViewBag.BodyClass = "Member";
  ViewBag.Category = "會員總覽";
  ViewBag.Title = "會員資料";
  Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/Member/Member">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>MEMBER<em>@ViewBag.Title</em></span></h2>

<section class="float-l half">
                <h3>基本資料</h3>

                <img src="~/Content/images/Member/photo.jpg" class="float-l">
                <dl class="text-list">
                    <dt>【姓　名】</dt>
                    <dd>胡能有 (2803)</dd>

                    <dt>【電　話】</dt>
                    <dd></dd>

                    <dt>【傳　真】</dt>
                    <dd></dd>

                    <dt>【公司網站】</dt>
                    <dd><a href="http://blog.yam.com/master3857" target="_blank">http://blog.yam.com/master3857</a></dd>

                    <dt>【E-mail】</dt>
                    <dd><a href="mailto:master3857@yahoo.com.tw" target="_blank">master3857@yahoo.com.tw</a></dd>

                    <dt>【公司地址】</dt>
                    <dd></dd>

                    <dt>【青商經歷】</dt>
                    <dd>1. 活動紀錄委員會副主委<br>2. 事業發展委員會主委<br>3. 1993JCI全國年會醫務處長<br>4. 行政特別助理<br>5. 1999年特友會財務長<br>6. 2012年特友會副主席<br>7. 2013年第32屆特友會主席</dd>
                </dl>
                <a href="" class="btn">基本資料修改</a>(只能修改自己喔!!)
            </section>

            <section class="float-r half">
                <h3>公司簡介</h3>
                <img src="images/photo2.jpg" alt="" class="float-l">
                <h4>胡能有主任</h4>
                <p>
                    1.學歷:臺北醫學大學醫事技術學系理學士.台大EMBA進修<br>
                    2.學術歷練:行政院衛生署竹東醫院外科病理討論會主持人.主講人.元培科技大學兼任講師.交通部道安班酒精醫學與戒酒講師.國際社團醫學與健康管理講師<br>
                    3.專業歷練:行政院衛生署竹東醫院檢驗科主任.臺大及省桃醫學中心醫檢師.全國認證基金會醫學測試領域技術專家<br>
                    3.社團歷練:桃園縣醫檢師公會理事.新竹市醫檢師公會理事.監事.衛生署竹東醫院登山社社長.新竹同源會理事.中壢後憲荷松協會理事.監事 <br>
                </p>
                <h4>主要商品或服務項目</h4>
                <p>
                    新明醫事檢驗所 ~"定期檢驗,落實健康管理" ~準確.便捷.詳盡為您的健康把關<br>
                    1.癌症篩檢<br>
                    2.致癌危險因子檢驗<br>
                    3.各種疾病檢驗<br>
                    4.全身健康檢查<br>
                    5.健保成人健檢<br>
                    6.健康管理教授<br>
                    7.精選血壓計.血糖機.保健食品研究
                </p>
            </section>

            <section class="clear">
                <h3>產品簡介</h3>
                <table class="pro-list">
                    <tr>
                        <td><img src="images/pic.jpg" alt=""></td>
                        <td>
                            <p>產品名稱： <em>三高檢驗(高血醣、高血脂、高血壓)</em></p>
                            <p>產品特色： 三高與肥胖導致尿毒症、視網膜與神經病變、心肌梗塞、腦中風及多種癌症,對身體健康危害重大,期我青商伙伴更了解自己身體狀況,有否心血管疾病?腎臟病?醣尿病?高血壓?高血脂?肥胖等健康危險因子,強化保健觀念,提昇健康管理能力,做好預防工作,促進自己及家人的健康。</p>
                            <p>參考價格：<em>500</em></p>
                            <p>價格說明：此為最優惠價格!各地青商會友暨親友加贈BMI檢測與飲食營養指引。</p>

                            <p>點閱率：<em>738</em></p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="images/pic.jpg" alt=""></td>
                        <td>
                            <p>產品名稱： <em>三高檢驗(高血醣、高血脂、高血壓)</em></p>
                            <p>產品特色： 三高與肥胖導致尿毒症、視網膜與神經病變、心肌梗塞、腦中風及多種癌症,對身體健康危害重大,期我青商伙伴更了解自己身體狀況,有否心血管疾病?腎臟病?醣尿病?高血壓?高血脂?肥胖等健康危險因子,強化保健觀念,提昇健康管理能力,做好預防工作,促進自己及家人的健康。</p>
                            <p>參考價格：<em>500</em></p>
                            <p>價格說明：此為最優惠價格!各地青商會友暨親友加贈BMI檢測與飲食營養指引。</p>

                            <p>點閱率：<em>738</em></p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="images/pic.jpg" alt=""></td>
                        <td>
                            <p>產品名稱： <em>三高檢驗(高血醣、高血脂、高血壓)</em></p>
                            <p>產品特色： 三高與肥胖導致尿毒症、視網膜與神經病變、心肌梗塞、腦中風及多種癌症,對身體健康危害重大,期我青商伙伴更了解自己身體狀況,有否心血管疾病?腎臟病?醣尿病?高血壓?高血脂?肥胖等健康危險因子,強化保健觀念,提昇健康管理能力,做好預防工作,促進自己及家人的健康。</p>
                            <p>參考價格：<em>500</em></p>
                            <p>價格說明：此為最優惠價格!各地青商會友暨親友加贈BMI檢測與飲食營養指引。</p>

                            <p>點閱率：<em>738</em></p>
                        </td>
                    </tr>
                </table>
            </section>